body{
    padding: 0%;
    margin: 0%;
}

.container{
    width: auto;
    height: auto;
}

.blue 
{
    width: 100%;
    height: 737px;
    background-color: #0B65C6;
}

.header
{
    background-color: #0B65C6;
    width: 100%;
    height: 85px;
}

.logo
{
    
    margin-left: 260px;
}

.logo img{
    margin-top: 5px;
    width: 171px;
}

li,a{
    font-weight: 1000;
    font-family: 'IBM Plex Sans Condensed';
    font-size: 15px;
    color: white;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: bold;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a:hover{
    color: sandybrown;
}

.nav__links
{
    margin-left: 550px;
    margin-top: -35px;
}


.main-box 
{
    width: 1065px;
    height: 546px;
    margin-left: 240px;
    margin-top: 48px;
    margin-right: 240px;
    background-color:#0B65C6;
}

.phn-image img 
{
    float: right;
    height: 540px;
    width: 525px;
    padding-right: 0px;
}


.sub-mainbox
 {
    position: absolute;
    top: 259px;
    background-color: #0B65C6;
    height: 100px;
    width: 573px;
    padding-bottom: 161px;
}

.para1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    font-family: 'IBM Plex Sans Condensed';
    position: absolute;
    bottom: 95px;
    padding-left: 15px;
}
.para2 {
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
    font-family: 'IBM Plex Sans Condensed';
    position: absolute;
    bottom: 53px;
    padding-left: 15px;
}

.icons{
    display: flex;
}

.iconss {
    width: 152px;
    margin-top: 204px;
    RIGHT: 4PX;
    POSITION: RELATIVE;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 15px;
}

.white-box
{
    background-color:white ;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #f1f4f8;
}


.white-box ul{
    float: left;
}

.white-box ul li
{
list-style-type: none;
display: inline-block;
padding: 122px;
}

.white-box ul li p {
    text-decoration: none;
    color: black;
    font-size: 21px;
    margin-top: -101px;
}

.white-box i{
    margin-right: 8px;
}

.whitetextbox {
    width: 100%;
    height: 114px;
    background-color: white;
}


.whitetextbox h2 {
    margin-right: 113px;
    margin-left: 304px;
    padding-left: -18px;
    justify-content: center;
    left: 113px;
    bottom: 171px;
    position: relative;
    font-size: 40px;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: bold;
}

.whitetextbox p {
    color: #4a545e;
    position: absolute;
    top: 884px;
    right: 621px;
    font-size: 19px;
}
    

.main-listbox
{
    width: 100%;
    height: 400px;

    background-color:white;
}

.left-listbox {
    background-color:white;
    position: relative;
    left: 270px;
    top: 10px;
    width: 450px;
    bottom: 0px;
    height: 252px;
    border:1px solid #f1f4f8;

    
}
.box1 {
    background-color:white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;

}
.box2 {
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;
}
.box3 {
    background-color:white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;
}

.left-listbox i
{
    margin-right: 8px;
    margin-left: 46px;
}

.left-listbox p2
{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 18px;

}

.left-listbox1 {
    position: relative;
   
    top: 4px;
}

.left-listbox2
{
    position: relative;
    top: 27px;
}
.left-listbox3
{
    position: relative;
    top: 27px;
}

.right-listbox 
{
    background-color: white;
    position: relative;
    left: 884px;
    width: 450px;
    height: 254px;
    bottom: 244px;
    border: 1px solid #f1f4f8;
}

.box11
{
    background-color:white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;   
}

.box22 {
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;
}

.box33 
{
    background-color:white;
    position: relative;
    left: 0px;
    top: 0px;
    width: 450px;
    bottom: 0px;
    height: 84px;
    right: 0px;
    border-bottom: 1px solid #f1f4f8;
}
.right-listbox i
{
    margin-right: 8px;
    margin-left: 46px;
}

.right-listbox p3
{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 18px;

}

.right-listbox1
{
    position: relative;
    top: 31px;
}

.right-listbox2
{
    position: relative;
    top: 29px;
}
.right-listbox3
{
    position: relative;
    top: 27px;
}
.downloadbutton a
{
    color: #fff;
   
    
}
.downloadbutton button
 {
    position: relative;
    left: 744px;
    background-color: #1f63ab;
    bottom: 199px;
    width: 128px;
    height: 42px;
}

.mid1st {
    width: 100%;
    height: 425px;
    background-color: white;
    
}

.midimagebox1 {
    position: relative;
    left: 300px;
    top: 0px;
    width: 25%;
    height: 425px;
    background-color:white;
}

.midimagebox1 img {
    right: 20px;
    bottom: 12px;
    position: relative;
  
    width: 132%;
    height: 425px;
}

.mid1sttextbox {
    left: 837px;
    position: relative;
    bottom: 344px;
    background-color: white;
    width: 19%;
    height: 165px;
}

.tbox1 {
    background-color: #ffffff;
    width: 100%;
    height: 84px;
}

.tbox1 h2 {
    font-size: 35px;
}

.tbox2 {
    background-color: white;
    color:#4a545e ;
    width: 100%;
    height: 65px;
    font-size: 17px;
    position: relative;
    top: -10px;
}

.mid2nd {
    width: 100%;
    height: 425px;
    background-color:white;
    
}

.midimagebox2 {
    position: relative;
    left: 794px;
    top: 0px;
    width: 25%;
    height: 425px;
    background-color: white;
}


.midimagebox2 img {
    right: 65px;
    bottom: 12px;
    position: relative;
    width: 132%;
    height: 425px;
}

.mid2ndtextbox {
    left: 338px;
    position: relative;
    bottom: 344px;
    background-color: white;
    width: 20%;
    height: 133px;
}

.tbox21 {
    background-color:white;
    width: 100%;
    height: 84px;
}

.tbox21 h2 {
    padding-top: 21px;
    font-size: 35px;
}

.tbox22 {
    background-color: white;
    color: #4a545e;
    width: 100%;
    height: 65px;
    font-size: 17px;
    position: relative;
   
    bottom: 33px;
}

.mid3rd {
    width: 100%;
    height: 425px;
    background-color: white;
    
}

.midimagebox3 {
    position: relative;
    left: 300px;
    top: 0px;
    width: 25%;
    height: 425px;
    background-color:white;
}

.midimagebox3 img {
    right: 20px;
    bottom: 12px;
    position: relative;
  
    width: 132%;
    height: 425px;
}

.mid3rdtextbox {
    left: 837px;
    position: relative;
    bottom: 344px;
    background-color: white;
    width: 19%;
    height: 166px;
}

.tbox31 {
    background-color:white;
    width: 100%;
    height: 84px;
    position: relative;
    top: 35px;
}

.tbox31 h2 {
    font-size: 35px;
    position: relative;
    
  
}

.tbox32 {
    background-color: white;
    color:#4a545e ;
    width: 100%;
    height: 65px;
    font-size: 16px;
    position: relative;
    bottom: 17px;
  
}

.midbox{
    width: 100%;
    height: 150px;
    background-color:#f9fbfd;
}

.midboxtext{
    width: 28%;
    background-color:#f9fbfd;
    height: 100%;
    position: relative;
left: 158px;
}

.midboxtext h3 {
    position: relative;
    font-size: 20px;
    top: 54px;
    left: 94px;
}

.midboxtext p {
    color: #4a545e;
    position: relative;
    top: 40px;
    left: 95px;
}
.icons2 {
    display: flex;
  
    
}

.iconss2 {
    width: 172px;
    left: 654px;
    position: relative;
    bottom: 105px;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 51px;
}

.trustlogo img {
    left: 116px;
    position: relative;
    top: 117px;
}

.trustlogoicons i {
    position: relative;
    left: 163px;
    top: 120px;
    padding: 1px;

}

.trustlogoicons i:hover{
    color:skyblue;
    cursor: pointer;
}

.links {
    background:white;
    color: #4a545e;
    font-size: 12px;
    padding: 35px 0;
    padding-left: 488px;
}


.links-inner {
    max-width: 1100px;
    position: relative;
    bottom: 43px;
    padding: 0px 4px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: -10px;
    grid-column-gap: 30px;
}
   
   .links li {  
    line-height: 2.8;  
   }  
   .links h3{
    font-size: 17px;
    color: #4a545e;
   }

   .links a{
    font-size: 16px;
    text-decoration: none;
    color: #939da8;
    
    }
    .links ul{
        list-style: none; 
    }
    